In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from mpl_toolkits.mplot3d import Axes3D
%matplotlib qt

df=pd.read_csv('ProcessedTrain.csv') #importing a dataset
#df.shape #inspecting rows and columns dimension of the dataset
test = pd.read_csv('ProcessedRandom.csv')
#test.shape

In [2]:
#df.describe() # this gives basic statistics about the data. 
# some entries doesn't have the year (the count is lower), cleaning of the data is required

In [3]:
#df.values #is shows the data the first element of the outer array is the array with the data of the first row
df

,0,0.1,0.2,1.25,0.350000000000364,-0.799999999999272,1.10000000000036,-0.649999999999636,0.25,-0.5,0.3,-346,0.4
0,0.00,0,0.00,-0.75,-0.65,-0.80,0.10,-0.65,-0.75,0.50,0,-346,0
1,-0.04,0,0.00,0.25,0.35,0.20,0.10,0.35,0.25,-0.50,-1,-347,0
2,-0.04,0,0.00,-0.75,0.35,-0.80,0.10,0.35,0.25,-0.50,-1,-346,0
3,0.00,0,0.00,0.25,0.35,0.20,0.10,-0.65,0.25,0.50,1,-346,0
4,0.00,0,0.00,-0.75,0.35,0.20,0.10,0.35,0.25,0.50,0,-346,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8794,3.11,0,17.65,2.25,-12.30,3.25,-8.45,-11.90,4.30,-54.35,-34,-348,35
8795,3.15,0,18.15,2.25,-12.30,3.25,-7.45,-11.90,4.30,-54.35,-35,-346,33
8796,2.71,0,18.50,2.25,-12.30,4.25,-7.45,-11.90,4.30,-52.35,-36,-346,33
8797,2.18,0,18.50,2.25,-12.30,4.25,-7.45,-10.90,5.30,-52.35,-37,-345,32
8798,1.44,0,18.53,2.25,-12.30,4.25,-7.45,-11.90,6.30,-51.35,-38,-345,31

In [4]:
# step 2: preparing/cleaning the data (remove duplicates or entries with missing datas)
# we split the dataset in input dataset and output dataset for the prediction
# cleaning is important to avoid that the model learn bad patterns so remove incomplete,irrelevant,duplicates
cols=[0,1,2,10,11,12]
X= df.drop(df.columns[cols],axis=1) #input set we obtained from original dropping columns of x,y,z
colsout=[0,1,2,3,4,5,6,7,8,9]
#colsout=[3,4,5,6,7,8,9]
Y= df.drop(df.columns[colsout],axis=1)# output set, we selected only column x,y,z

test_X= test.drop(test.columns[cols],axis=1) 

test_Y= test.drop(test.columns[colsout],axis=1)

In [8]:
# learning and predicting
from sklearn.neural_network import MLPRegressor

model = MLPRegressor(hidden_layer_sizes=[60,30],max_iter=2000)
#if we don't use training/test in the following cell we use train/test split
#model.fit(X,Y)
#predictions=model.predict([[9.24,   0,  13.08,  9662,  10139,  9984,  10082,  10611,  10480,  10211]]) #these are unseen data  
#predictions
print('model done')

model done

In [9]:
# step 4: calculating accuracy
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, explained_variance_score, mean_absolute_error, mean_squared_error

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.10) #20% data for testing this value is important
# and the percentage we select affect the accuracy of the prediction, so the more data we give for training, the better 
# in general
model.fit(X_train,Y_train)
predictions=model.predict(X_test)

#score = accuracy_score(Y_test,predictions) #value between 0 to 1 if we run this code many times we have different 
# because train_test_split randomically select the data for split and test every time, this happens because we don't 
# have enough data, this does not support multilable- multioutput

score = explained_variance_score(Y_test,predictions)
mae= mean_absolute_error(Y_test,predictions)
mse= mean_squared_error(Y_test,predictions)

score, mae, mse

(0.9652434112246285, 1.3208268918475046, 3.3125915496592726)

In [10]:
Y_test

      0.3  -346  0.4
4082   12  -361   50
8148   10  -352   19
8659  -31  -349   40
6787   -1  -358   48
6523   -6  -356   37
...   ...   ...  ...
5747   -4  -352   17
1443  -21  -348   16
3928   14  -361   48
4001  -24  -348   17
6634    7  -359   49

[880 rows x 3 columns]

In [11]:
fig = plt.figure()

ax = Axes3D(fig)

ax.scatter(predictions[:,0],predictions[:,1],predictions[:,2])
ax.scatter(np.array(Y_test)[:,0],np.array(Y_test)[:,1],np.array(Y_test)[:,2])

<ipython-input-11-1ec271baa61a>:3: MatplotlibDeprecationWarning: Axes3D(fig) adding itself to the figure is deprecated since 3.4. Pass the keyword argument auto_add_to_figure=False and use fig.add_axes(ax) to suppress this warning. The default value of auto_add_to_figure will change to False in mpl3.5 and True values will no longer work in 3.6.  This is consistent with other Axes classes.
  ax = Axes3D(fig)

In [21]:
# PERSISTENCE : Store the model because we don't want to train a model all the time
import joblib #for saving models
joblib.dump(model, 'mlp.joblib')

['mlp.joblib']

In [22]:
joblib.load('sensor_angle_model.joblib')
#predictions=model.predict([[9.24,   0,  13.08,  9662,  10139,  9984,  10082,  10611,  10480,  10211]])
predictions=model.predict(test_X)
predictions

array([[ 1.12817619e+00, -3.46296096e+02,  1.04157443e+00],
       [ 1.25896162e+00, -3.48097149e+02,  2.40816950e-01],
       [-2.06412917e+00, -3.46420779e+02, -1.13253179e+00],
       ...,
       [-1.52288111e+01, -3.50881204e+02,  2.62393318e+01],
       [-8.24899767e+00, -3.52733675e+02,  2.68553977e+01],
       [-1.15892370e+01, -3.51730985e+02,  2.59033438e+01]])

In [14]:
plt.plot(predictions[:,0])
plt.plot(np.array(test_Y)[:,0])
plt.ylabel('x (mm)')

Text(0, 0.5, 'x (mm)')

In [15]:
score = explained_variance_score(np.array(test_Y)[:,0],predictions[:,0])
mae= mean_absolute_error(np.array(test_Y)[:,0],predictions[:,0])
mse= mean_squared_error(np.array(test_Y)[:,0],predictions[:,0])

score, mae, mse

(0.8757737574064187, 3.1112222238330816, 15.550994787387813)

In [16]:
plt.plot(predictions[:,1])
plt.plot(np.array(test_Y)[:,1])
plt.ylabel('y (mm)')

Text(0, 0.5, 'y (mm)')

In [17]:
score = explained_variance_score(np.array(test_Y)[:,1],predictions[:,1])
mae= mean_absolute_error(np.array(test_Y)[:,1],predictions[:,1])
mse= mean_squared_error(np.array(test_Y)[:,1],predictions[:,1])

score, mae, mse

(0.8203228199322474, 0.8368985054148094, 1.0644924181766484)

In [18]:
plt.plot(predictions[:,2])
plt.plot(np.array(test_Y)[:,2])
plt.ylabel('z (mm)')

Text(0, 0.5, 'z (mm)')

In [19]:
score = explained_variance_score(np.array(test_Y)[:,2],predictions[:,2])
mae= mean_absolute_error(np.array(test_Y)[:,2],predictions[:,2])
mse= mean_squared_error(np.array(test_Y)[:,2],predictions[:,2])

score, mae, mse

(0.9390603197189478, 2.644478532770556, 9.74835349054433)

In [20]:
fig = plt.figure()

ax = Axes3D(fig)

ax.scatter(predictions[:,0],predictions[:,1],predictions[:,2],color = 'blue')
ax.scatter(np.array(test_Y)[:,0],np.array(test_Y)[:,1],np.array(test_Y)[:,2],color = 'red')

<ipython-input-20-59d7a2ea9c89>:3: MatplotlibDeprecationWarning: Axes3D(fig) adding itself to the figure is deprecated since 3.4. Pass the keyword argument auto_add_to_figure=False and use fig.add_axes(ax) to suppress this warning. The default value of auto_add_to_figure will change to False in mpl3.5 and True values will no longer work in 3.6.  This is consistent with other Axes classes.
  ax = Axes3D(fig)