In [1]:
import pandas as pd
df=pd.read_csv('data1.csv') #importing a dataset
df.shape #inspecting rows and columns dimension of the dataset

(2399, 13)

In [2]:
df.describe() # this gives basic statistics about the data. 
# some entries doesn't have the year (the count is lower), cleaning of the data is required

,0,0.1,0.2,9655,10149,9979,10090,10618,10467,10263,0.3,-346,0.4
count,2399.000000,2399.0,2399.000000,2399.000000,2399.000000,2399.000000,2399.000000,2399.000000,2399.000000,2399.000000,2399.000000,2399.000000,2399.000000
mean,10.003677,0.0,7.242068,9657.369321,10143.376824,9977.869112,10081.310546,10612.741976,10471.632764,10220.656524,4.067111,-354.637349,29.992914
std,5.800922,0.0,4.315095,3.167073,3.748859,6.315281,3.208207,2.848063,5.526472,17.877292,18.198473,3.975031,12.482229
min,-0.040000,0.0,0.000000,9648.000000,10137.000000,9964.000000,10075.000000,10606.000000,10460.000000,10186.000000,-38.000000,-361.000000,0.000000
25%,4.995000,0.0,3.490000,9655.000000,10140.000000,9973.000000,10079.000000,10610.000000,10468.000000,10207.000000,-9.000000,-358.000000,21.000000
50%,10.020000,0.0,7.130000,9657.000000,10143.000000,9978.000000,10081.000000,10613.000000,10472.000000,10218.000000,4.000000,-355.000000,30.000000
75%,15.035000,0.0,11.010000,9660.000000,10146.000000,9983.000000,10084.000000,10615.000000,10475.000000,10232.000000,18.000000,-351.000000,39.000000
max,20.010000,0.0,15.030000,9665.000000,10151.000000,9993.000000,10089.000000,10619.000000,10486.000000,10264.000000,43.000000,-345.000000,57.000000

In [4]:
#df.values #is shows the data the first element of the outer array is the array with the data of the first row
df

,0,0.1,0.2,9655,10149,9979,10090,10618,10467,10263,0.3,-346,0.4
0,0.00,0,0.00,9653,10148,9979,10089,10618,10466,10264,0,-346,0
1,-0.04,0,0.00,9654,10149,9980,10089,10619,10467,10263,-1,-347,0
2,-0.04,0,0.00,9653,10149,9979,10089,10619,10467,10263,-1,-346,0
3,0.00,0,0.00,9654,10149,9980,10089,10618,10467,10264,1,-346,0
4,0.00,0,0.00,9653,10149,9980,10089,10619,10467,10264,0,-346,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,1.58,0,14.45,9664,10137,9993,10084,10610,10485,10220,-33,-347,31
2395,1.57,0,14.41,9664,10137,9992,10084,10611,10485,10221,-35,-347,29
2396,1.38,0,14.50,9665,10137,9992,10085,10611,10486,10222,-35,-346,30
2397,1.14,0,14.46,9663,10137,9992,10085,10610,10485,10222,-36,-346,29
2398,0.70,0,14.45,9665,10138,9992,10085,10610,10485,10222,-36,-346,29

In [57]:
# step 2: preparing/cleaning the data (remove duplicates or entries with missing datas)
# we split the dataset in input dataset and output dataset for the prediction
# cleaning is important to avoid that the model learn bad patterns so remove incomplete,irrelevant,duplicates
cols=[10,11,12]
X= df.drop(df.columns[cols],axis=1) #input set we obtained from original dropping columns of x,y,z
colsout=[0,1,2,3,4,5,6,7,8,9]
Y= df.drop(df.columns[colsout],axis=1)# output set, we selected only column x,y,z

In [58]:
# learning and predicting
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
#if we don't use training/test in the following cell we use train/test split
#model.fit(X,Y)
#predictions=model.predict([[9.24,   0,  13.08,  9662,  10139,  9984,  10082,  10611,  10480,  10211]]) #these are unseen data  
#predictions
print('model done')

model done

In [59]:
# step 4: calculating accuracy
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, explained_variance_score, mean_absolute_error, mean_squared_error

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.10) #20% data for testing this value is important
# and the percentage we select affect the accuracy of the prediction, so the more data we give for training, the better 
# in general
model.fit(X_train,Y_train)
predictions=model.predict(X_test)

#score = accuracy_score(Y_test,predictions) #value between 0 to 1 if we run this code many times we have different 
# because train_test_split randomically select the data for split and test every time, this happens because we don't 
# have enough data, this does not support multilable- multioutput

score = explained_variance_score(Y_test,predictions)
mae= mean_absolute_error(Y_test,predictions)
mse= mean_squared_error(Y_test,predictions)

score, mae, mse

(0.9799329335304064, 1.0194444444444444, 2.6222222222222222)

In [62]:
# PERSISTENCE : Store the model because we don't want to train a model all the time
import joblib #for saving models
joblib.dump(model, 'sensor_angle_model.joblib')

['sensor_angle_model.joblib']

In [63]:
joblib.load('sensor_angle_model.joblib')
predictions=model.predict([[9.24,   0,  13.08,  9662,  10139,  9984,  10082,  10611,  10480,  10211]])
predictions

array([[ -16, -353,   37]])